@charset "utf-8";
	.mask3
{
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
	position : absolute ;
	left : 299px;
	top : 248px;
	width : 105px;
	height : 79px;
    z-index: 3;
}
.mask2
{
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
	position : absolute ;
	left : 200px;
	top : 160px;
	width : 100px;
	height : 166px;
    z-index: 2;
}
.north-america
{
	background-image : url(north-america.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 0px;
	top : 0px;
	width : 400px;
	height : 323px;
    z-index: 0;
}
.mask11
{
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
	position : absolute ;
	left : 299px;
	top : -5px;
	width : 105px;
	height : 85px;
    z-index: 11;
}
.mask9
{
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
	position : absolute ;
	left : 100px;
	top : -5px;
	width : 99px;
	height : 85px;
    z-index: 9;
}
.mask10
{
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
	position : absolute ;
	left : 199px;
	top : -5px;
	width : 100px;
	height : 85px;
    z-index: 10;
}
.mask1
{
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
	position : absolute ;
	left : 100px;
	top : 249px;
	width : 100px;
	height : 79px;
    z-index: 1;
}
.mask6
{
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
	position : absolute ;
	left : 199px;
	top : 80px;
	width : 100px;
	height : 80px;
    z-index: 6;
}
.mask7
{
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
	position : absolute ;
	left : 299px;
	top : 80px;
	width : 105px;
	height : 168px;
    z-index: 7;
}
.mask8
{
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
	position : absolute ;
	left : -5px;
	top : 80px;
	width : 105px;
	height : 86px;
    z-index: 8;
}
.mask4
{
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
	position : absolute ;
	left : -5px;
	top : 161px;
	width : 105px;
	height : 166px;
    z-index: 4;
}
.mask12
{
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
	position : absolute ;
	left : -5px;
	top : -5px;
	width : 105px;
	height : 85px;
    z-index: 12;
}
.mask5
{
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
	position : absolute ;
	left : 100px;
	top : 80px;
	width : 100px;
	height : 169px;
    z-index: 5;
}
